.car-card {
  display: flex;
  flex-direction: row;
  align-items: center; /* 세로로 중앙 정렬 */
  justify-content: center; /* 가로로 중앙 정렬 */
  background-color: #add8e6;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.car-image {
  width: 300px !important; /* 이미지 크기 */
  height: auto;
  border-radius: 4px;
  margin-right: 16px; /* 이미지와 텍스트 간격 */
}

.car-image-logo {
  width: 60px !important;
  height: 60px !important;
  margin-left: 10px; /* 로고와 이름 사이 간격 */
  margin-top : 10px;
}

.car-details {
  display: flex;
  flex-direction: column; /* 이름과 설명을 세로로 배치 */
  justify-content: center;
  align-items: center; /* 세로로 중앙 정렬 */
  flex-grow: 1;
  text-align: center; /* 텍스트 중앙 정렬 */
}

.car-name-container {
  display: flex;
  align-items: center; /* 로고와 이름을 가로로 배치 */
  margin-bottom: 5px;
}

.car-name {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
}

.car-description {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
  margin-bottom: 8px;
}

.car-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(100% - 32px);
  margin-top: 12px;
}

.car-price {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-left: 10px;
}

.reserve-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 10px;
}

.reserve-button:hover {
  background-color: #0056b3;
}

.car-location-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.location-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.location-info,
.location-hours p,
.location-rules li,
.location-notice li {
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}

.location-map-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #0078ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.location-map-button:hover {
  background-color: #005bb5;
}

.location-rules ul,
.location-notice ul {
  list-style-type: disc;
  padding-left: 20px;
}

